<tr>
		<td><%= report.elements['//start_date'].text if (  report.elements['//start_date'] )%></td>
		<td><%= report.elements['//end_date'].text if (  report.elements['//end_date'] )%></td>
		<td><%= report.elements['expense/purpose'].text if (  report.elements['expense/purpose'] )%></td>
		<td><%= report.elements['expense/location'].text if (  report.elements['expense/location'] )%></td>
		<td><%= report.elements['expense/attendees'].text if (  report.elements['expense/attendees'] )%></td>
		<td><%= report.elements['expense/total'].text if (  report.elements['expense/total'] )%></td>
</tr>