<hr>

<h3>Travel Expense For:
<%= xml.elements['//person_name_and_position/first_name'].text if xml.elements['//person_name_and_position/first_name'] %>
<%= xml.elements['//person_name_and_position/last_name'].text if xml.elements['//person_name_and_position/last_name'] %> --
<%= xml.elements['//person_name_and_position/position'].text if xml.elements['//person_name_and_position/position'] %>
<hr>


</h3>
<table>
	<tr>
		<td>Start Date</td>
		<td>End Date</td>
		<td>Purpose</td>
		<td>Location</td>
		<td>Attendees</td>
		<td>Total</td>

	<%= render :partial => 'report', :collection => xml.elements.to_a('//report')  %>
</table>
<hr>
