<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1.2.3.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javscripts/jquery-form.js"></script>
<link href="/stylesheets/style-1.css" rel="stylesheet" type="text/css" />

<ul>
	<li><a href="#" onclick="$('.instructions').slideToggle(250); return false;">Instructions</a></li>
	<li><a href="#" onclick="$('.example').slideToggle(250); return false;">Example(s)</a></li>
</ul>

